<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="testConnection_IT" connectionString="Data Source=OASISTESTSERVER;Initial Catalog=AYFMFSDBIT;User ID=oasis;Password=ayf2008" providerName="System.Data.SqlClient" />
    <add name="testConnection_SW" connectionString="Data Source=OASISTESTSERVER;Initial Catalog=AYFMFSDBSW;User ID=oasis;Password=ayf2008" providerName="System.Data.SqlClient" />
    <add name="mainConnection" connectionString="Data Source=OASISTESTSERVER;Initial Catalog=AYFMFSDBSW;User ID=oasis;Password=ayf2008" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>